@model IList<slnGrandesExposiciones.Dtos.ExposicionesDto>
@using NonFactors.Mvc.Grid;
@{
    ViewBag.Title = "Inicio";
}

<head>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Global.css")
    @Styles.Render("~/Content/Home.css")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Exposiciones/Exposiciones.js"></script>
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
    <script src="~/Scripts/datePickerMonthYear.js"></script>
</head>

<div id="myAlertSuccess" class="alert alert-success collapse">
    <a id="linkClose" data-dismiss="alert" href="#" class="close">&times;</a>
    Parámetro eliminado con éxito!
</div>
<div id="myAlertDanger" class="alert alert-danger collapse">
    <a id="linkClose" href="#" data-dismiss="alert" class="close">&times;</a>
    Reinicie la aplicación y vuelva a intentar.
</div>

<section class="content-inner">

    <div class="container-buttons row">
        <span class="col-2"></span>
        @*<button id="botonIngresar" type="button" class="orange-button col-3 btn btn-outline-secondary" data-toggle="modal" data-target="#modalIngresar"><i class="fa fa-plus"></i>&nbsp;Ingresar Informe</button>*@
        <a type="button" class="orange-button col-3 btn btn-outline-secondary" href=@Url.Content("~/Exposiciones/Nuevo")><i class="fa fa-plus"></i>&nbsp;Ingresar Informe</a>
        <span class="col-2"></span>
        <a type="button" class="orange-button col-3 btn btn-outline-secondary" href=@Url.Content("~/Parametros/Index")><i class="fa fa-sliders"></i>&nbsp;Configuración de TIERS</a>
        <span class="col-2"></span>

    </div>
    <br /><br />



    <div class="content-table">
        @(Html
                                                            .Grid(Model)
                                                            .Build(columns =>
                                                            {
                                                                columns.Add(model => model.FECHA_ALTA).Titled("Fecha de Alta").Formatted("{0:d}"); ;
                                                                columns.Add(model => model.FECHA_MOD).Titled("Fecha Ult Modifación").Formatted("{0:d}"); ;
                                                                columns.Add(model => model.ID_PERIODO).Titled("Periodo");
                                                                columns.Add(model => model.Legajo).Titled("Legajo");
                                                                columns.Add(model => model.Validado).Titled("Validado");
                                                                columns.Add(model => "<i data-id=\"" + model.Id + "\" class=\"" + "fa fa-upload orange-button btn border-off" + "\"></i>").Encoded(false).Titled("Importar");
                                                                columns.Add(model => "<a href = \"" + "/Archivos/ExpIndividual" + "\")>  <i data-id=\"" + model.ID_PERIODO + "\" class=\"" + "fa fa-eye orange-button btn border-off" + "\"></i></button>").Encoded(false).Titled("Ver");
                                                                columns.Add(model => "<i id=\"descargarBoton" + "\" data-id=\"" + model.ID_PERIODO + "\" class=\"" + "fa fa-download orange-button btn border-off" + "\"></i>").Encoded(false).Titled("Descargar");
                                                                columns.Add(model => "<i id=\"validar" + "\" data-toggle=\"modal" + "\" data-target=\"#modalValidar" + "\" data-id=\"" + model.Id + "\" class=\"" + "fa fa-check orange-button btn border-off" + "\"></i>").Encoded(false).Titled("Validar");
                                                                columns.Add(model => "<i data-id=\"" + model.ID_PERIODO + "\" class=\"" + "fa fa-angle-double-right orange-button btn border-off" + "\"></i>").Encoded(false).Titled("Generar");
                                                            })
                                                            .Empty("No se encontraron datos")
                                                            .Id("my-ajax-grid")
                                                            .Filterable()
                                                            .Sortable()
        )
    </div>

</section>

<!--MODAL VALIDAR EXCEL-->
<div class="modal fade" id="modalValidar" tabindex="-1" role="dialog" aria-labelledby="modalValidarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalIngresarLabel">Validación de Exposición</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Desea validar el documento seleccionado?</p>
                <input type="text" name="exposicion" id="exposicion" value="" style="display:none;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-secondary confirm-button" id="aceptarValidacionBoton" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!--FIN MODAL VALIDAR EXCEL-->

<script>
   
</script>