<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regimen Informativo - Grandes Exposiciones</title>



    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/Layout.css")
    @Styles.Render("~/Content/Global.css")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="wrap">
        <nav id="navbar-header" class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href=@Url.Content("~/Exposiciones/Index")><img src=@Url.Content("~/Content/Images/Logos/LogoGalicia.jpg") width="211" /></a>
                </div>
                <div>
                    <h2>Grandes Exposiciones</h2>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav navbar-right">
                    <div class="col-12"><i class="fa fa-user"></i>&nbsp;Usuario:Puli Palacios </div>
                </ul>
            </div><!-- /.container-fluid -->
        </nav>

        <!--Body content-->
        <div class="row p-2"></div>
        
    </div>
    <div class="row p-2"></div>


    @RenderBody()
    @RenderSection("scripts", required: false)




</body>
</html>