@model IQueryable<slnGrandesExposiciones.Models.Campos>


@using NonFactors.Mvc.Grid;

@{
    ViewBag.Title = "Ver Archivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
    <script src="~/Scripts/Archivos/index.js"></script>


    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Global.css")
    @Styles.Render("~/Content/Archivos.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>

<h2>Detalle Periodo 2012/12/12</h2>
<img id="imgBarra" src="~/Content/Images/footer-orange-line.png" />

<br /><br />

<div class="container-buttons row">
    <span class="col-1"></span>
    <button id="botonIngresar" type="button" class="orange-button col-2 btn btn-outline-secondary activo" data-toggle="modal" data-target="#modalIngresar">Total Por Grupo</button>
    <span class="col-1"></span>
    <button id="botonConfiguracionTir" type="button" class="orange-button col-2 btn btn-outline-secondary">Exposiciones Individual</button>
    <span class="col-1"></span>
    <button id="botonConfiguracionTir" type="button" class="orange-button col-2 btn btn-outline-secondary">Grupo Individual</button>
    <span class="col-1"></span>

</div>




@*<img id="imgBarra" src="~/Content/Images/footer-orange-line.png" />*@
<br /><br />

<div class="content-table">
    @(
                                                                                                                                                       Html.Grid(Model)
                                                                                                                                                          .Build(columns =>
                                                                                                                                                          {
                                                                                                                                                              columns.Add(model => model.ALIAS).Titled("FECHA MMYYYY").Sortable(true);
                                                                                                                                                          })
                                                                                                                                                        .Empty("No se encontraron coincidencias")
            //.RowAttributed(model => new { @id = model.ID }) //Le pone el ID a la fila tr
    )
</div>
@*@{Html.RenderPartial("login", ViewBag.Login);}
@{Html.RenderPartial("register", ViewBag.Register);}*@
<script>
    $('.container-buttons button').on('click', function () {
        if (!$(this).is('activo')) {
            $('.activo').toggleClass('activo');
            $(this).toggleClass('activo');
        }
    });

</script>
