@model IList<slnGrandesExposiciones.Dtos.ParametrosDto>

@{
    ViewBag.Title = "Modificación de Parámetros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
    <script src="~/Scripts/Parametros/Parametros.js"></script>

    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Global.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<section class="content-principal">
    <h2>Parámetros</h2>
    <div id="myAlertSuccess" class="alert alert-success collapse">
        <a id="linkClose" data-dismiss="alert" href="#" class="close">&times;</a>
        Parámetro eliminado con éxito!
    </div>
    <div id="myAlertDanger" class="alert alert-danger collapse">
        <a id="linkClose" href="#" data-dismiss="alert" class="close">&times;</a>
        Reinicie la aplicación y vuelva a intentar.
    </div>


    <br />
    <div style="text-align:right">
        <a class="orange-button btn btn-outline-secondary" id="botonNuevo" type="button" href="~/Parametros/Nuevo">Ingresar Parámetro &nbsp;<i class="fa fa-plus"></i></a>
    </div>
    <br />

    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ID_PERIODO)*@
                PERIODOS
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TIER_1)*@
                TIER 1
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TIER_2)*@
                TIER 2
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TIER_3)*@
                TIER 3
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SMVM)*@
                SMVM
            </th>
            <th>
                <span>Modificar</span>
            </th>
            <th>
                <span>Eliminar</span>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_PERIODO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIER_1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIER_2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIER_3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SMVM)
                </td>
                <td>
                    <a class="orange-button btn btn-outline-secondary" type="button" href="~/Parametros/Editar/@item.Id"><i class="fa fa-cog"></i></a>
                </td>
                <td>
                    <a class="orange-button btn btn-outline-secondary delete" data-id="@item.Id"  data-toggle="modal" data-target="#modalEliminar"><i class="fa fa-trash"></i></a>
                </td>

            </tr>
        }


    </table>

</section>

<!--MODAL INGRESAR EXCEL-->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="modalEliminarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel">Eliminar Parámetro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el parámetro?</p>
                <input type="text" name="parametroAEliminar" id="parametroAEliminar" value="" style="display:none;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="aceptarEliminarParametroBoton" class="btn btn-outline-secondary confirm-button" data-dismiss="modal" data-toggle="modal" data-target="#modalAtencion">Aceptar</button>
            </div>
        </div>
    </div>
</div>