@model slnGrandesExposiciones.Models.Parametros_Exposiciones
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @Styles.Render("~/Content/Global.css")
    @Styles.Render("~/Content/Parametros.css")
    <script src="~/Scripts/datePickerMonthYear.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">
</head>




@using (Html.BeginForm("Nuevo", "Parametros", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <h2>Ingreso de nuevo parámetro</h2>
            <br />
            <div>
                @Html.LabelFor(d => d.ID_PERIODO, "PERIODO")
                @Html.TextBoxFor(d => d.ID_PERIODO, "", new { @class = "form-control date-picker", @id = "startDate", @name = "startDate", autocomplete = "off" })
                @Html.ValidationMessageFor(d => d.ID_PERIODO, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.TIER_1)
                @Html.TextBoxFor(d => d.TIER_1, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.TIER_1, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.TIER_2)
                @Html.TextBoxFor(d => d.TIER_2, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.TIER_2, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.TIER_3)
                @Html.TextBoxFor(d => d.TIER_3, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.TIER_3, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.SMVM)
                @Html.TextBoxFor(d => d.SMVM, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.SMVM, null, new { @class = "red" })
            </div>
            <br />

            <div class="d-flex justify-content-between">
                <a class="orange-button btn btn-outline-secondary" id="botonModificar" type="button" href="~/Parametros/Index">Volver</a>
                <input value="Guardar" class="orange-button btn btn-outline-secondary activo" type="submit" />
            </div>



        </div>

        </div>
}
